.vscode/**
.vscode-test/**
out/test/**
node_modules
src/main/**
src/provider/**
src/temp/**
src/test/**
src/tool/**

.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

tslint.json
package-lock.json
tsconfig.json

*.vsix

src/resources/static/jass/common-1.32.7.j
src/resources/static/jass/blizzard-1.31.j

src/resources/static/jass/common-1.32.j
src/resources/static/jass/blizzard-1.32.j