.vscode/**
.vscode-test/**
out/test/**
node_modules
src/main/**
src/provider/**
src/temp/**
src/test/**
src/tool/**

.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

*.vsix