<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<script>
  window.vscode = acquireVsCodeApi();
  console.log(vscode)
</script>

<body>
  <div ng-app="boot" >
    <router-view></router-view>
  </div>
  <script>
    <% include ./js/angular.min.js %>
    <% include ./boot.js %>
  </script>
  <% include ./component/blp.html %>
  <% include ./router.html %>
</body>

</html>